In [1]:
import pandas as pd
from rich import print
from rich.progress import track

In [14]:
agg_levels = pd.read_csv("https://lehd.ces.census.gov/data/schema/latest/label_agg_level.csv")
# Replace NaN with "All"
agg_levels = agg_levels.fillna("All")

In [36]:
agg_levels.loc[   (agg_levels.firm_char.str.contains("Metro-complete") )
                & (agg_levels.firm_orig_char.str.contains("Metro-complete"))
                & (agg_levels.worker_char.str.contains("Education"))
                & (agg_levels.j2jod == 1), 
                ["agg_level", "worker_char", 'firm_char', 'firm_orig_char', 'geo_level', 'ind_level']]

,agg_level,worker_char,firm_char,firm_orig_char,geo_level,ind_level
375,592913,Education,Destination [Metro-complete],Origin [Metro-complete],B,A
376,592914,Sex * Education,Destination [Metro-complete],Origin [Metro-complete],B,A
384,593169,Education,Destination [NAICS Sector * Metro-complete],Origin [Metro-complete],B,S
385,593170,Sex * Education,Destination [NAICS Sector * Metro-complete],Origin [Metro-complete],B,S
429,642065,Education,Destination [Metro-complete],Origin [NAICS Sector * Metro-complete],B,A
430,642066,Sex * Education,Destination [Metro-complete],Origin [NAICS Sector * Metro-complete],B,A
438,642321,Education,Destination [NAICS Sector * Metro-complete],Origin [NAICS Sector * Metro-complete],B,S
439,642322,Sex * Education,Destination [NAICS Sector * Metro-complete],Origin [NAICS Sector * Metro-complete],B,S

In [7]:
cols = [
    'geography',
    'industry',
    'education', 
    'year',
    'quarter',
    'agg_level',
    'geography_orig',
    'industry_orig',
    'EE',
    'AQHire',
    'EES',
    'AQHireS',
    'EESEarn_Orig',
    'EESEarn_Dest', 
    'AQHireSEarn_Orig',
    'AQHireSEarn_Dest']
    
data_ = pd.read_csv("data/raw/j2jod_44060_sarhe_f_gb_ns_oslp_u.csv.gz", 
compression="gzip", low_memory=False, usecols=cols)

In [9]:
data_ = data_[data_.agg_level == 642321]

In [10]:
data_all = pd.DataFrame()
data_educ = pd.DataFrame()
data_ind = pd.DataFrame()
data_educ_ind = pd.DataFrame()

In [18]:
data_.education.unique()

array(['E5', 'E2', 'E3', 'E1', 'E4'], dtype=object)

In [11]:
data_all = pd.concat([data_all,  data_[ (data_.industry == "00") & (data_.education == "E0") ]])
data_educ = pd.concat([data_educ,  data_[ (data_.industry == "00") & (data_.education != "E0") & (data_.education != "E5") ]])
data_ind = pd.concat([data_ind,  data_[ (data_.industry != "00") & (data_.education == "E0") ]])
data_educ_ind = pd.concat([data_educ_ind,  data_[ (data_.industry != "00") & (data_.education != "E0") & (data_.education != "E5") ]])

In [12]:
data_all

Empty DataFrame
Columns: [geography, industry, education, year, quarter, agg_level, geography_orig, industry_orig, EE, AQHire, EES, AQHireS, EESEarn_Orig, EESEarn_Dest, AQHireSEarn_Orig, AQHireSEarn_Dest]
Index: []

In [2]:
from j2jproc import process_file, file_list

Processing 431 files...

In [4]:
f = file_list[7]

In [5]:
data = process_file(f)

Processing j2jod_44060_sarhe_f_gb_ns_oslp_u.csv.gz...

j2jod_44060_sarhe_f_gb_ns_oslp_u.csv.gz processed.

In [6]:
data[0].head()

Empty DataFrame
Columns: [geography, industry, education, year, quarter, agg_level, geography_orig, industry_orig, EE, AQHire, EES, AQHireS, EESEarn_Orig, EESEarn_Dest, AQHireSEarn_Orig, AQHireSEarn_Dest]
Index: []

In [12]:
dagta.to_csv(f"./data/interim/educ_ind/{f[:-3]}")

In [15]:
pd.read_csv(f"./data/interim/educ_ind/{f}").head()

,Unnamed: 0,geography,industry,education,year,quarter,agg_level,geography_orig,industry_orig,EE,AQHire,EES,AQHireS,EESEarn_Orig,EESEarn_Dest,AQHireSEarn_Orig,AQHireSEarn_Dest
0,17589530,46660,31-33,E3,2000,2,642321,8999,71,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17589531,46660,44-45,E2,2000,2,642321,8999,71,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17589532,46660,71,E1,2000,2,642321,8999,71,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17589533,46660,71,E2,2000,2,642321,8999,71,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17589534,46660,71,E3,2000,2,642321,8999,71,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN